html,
body {
  min-width: 1200px;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 6px -2px 6px -3px rgba(228, 228, 228, .8), -6px 0 6px -3px rgba(228, 228, 228, .8);
}

/*---Хэдэр---*/

.main-navigation {
  position: relative;
  z-index: 1;
  width: 1200px;
  margin: 0 auto;
  min-height: 56px;
  background-color: #ffffff;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-navigation-logo {
  position: absolute;
  overflow: visible;
  left: 50%;
  transform: translateX(-50%);
  width: 142px;
  height: 71px;
}

.site-navigation {
  display: flex;
  padding-left: 72px;
  padding-right: 73px;
  margin: 0;
  padding-top: 14px;
  list-style: none;
}

.site-navigation li {
  width: 241px;
}

.left-row {
  text-align: left;
}

.right-row-map {
  margin-left: 91px;
  text-align: right;
}

.right-row {
  text-align: right;
}

/*---Основной блок---*/

.greeting {
  width: auto;
  background-color: white;
  height: 510px;
  position: relative;
  margin-top: -56px;
  padding-bottom: 56px;
}

.back-picture {
  background: #81b3d2;
  background-image:
    url("../img/greeting-bg.jpg");
    height: 564px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    z-index: 0;
}

.intro-welcome {
  position: relative;
  left: 370px;
  top: 132px;
}

.intro-mask {
  position: relative;
  left: 0;
  top: 145px;
}

.intro-features {
  text-align: center;
}

.search b,
.search-info p {
  display: block;
  margin: 0 auto;
}

.intro-features b {
  display: block;
  margin: 0 auto;
  width: 450px;
  margin-top: 57px;
  height: 80px;
  font-size: 21px;
  font-weight: 700;
}

.intro-features p {
  margin-top: 0;
  margin-bottom: 50px;
}

.feature-list {
  width: auto;
  height: 1100px;
  margin: 0;
}

.feature-list ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.feature-list li {
  list-style: none;
  height: 256px;
  margin: 0;
}

.feature-1 b,
.feature-2 b,
.feature-describe b,
.feature-other b  {
  display: block;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  width: 153px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 24px;
  white-space: pre-wrap;
  line-height: 21px;
}

.feature-describe b,
.feature-other b {
  color: black;
}

.feature-describe b {
  margin-top: 162px;
  position: relative;
}

.habitation b::after {
  content: "";
  position: absolute;
  background-image:
    url("../img/icon-1.svg");
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  top: -100px;
  right: 40px;
}

.food b::after {
  content: "";
  position: absolute;
  background-image:
    url("../img/icon-3.svg");
  width: 74px;
  height: 72px;
  background-repeat: no-repeat;
  top: -100px;
  right: 40px;
}

.gift b::after {
  content: "";
  position: absolute;
  background-image:
    url("../img/icon-2.svg");
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
  top: -105px;
  right: 45px;
}

.feature-1,
.feature-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
}

.cell-feature {
  width: 400px;
  height: 256px;
}

.cell-feature span {
  display: block;
  line-height: 21px;
  padding-bottom: 21px;
}

.feature-1 p,
.feature-2 p,
.feature-other p {
  width: 295px;
  text-align: center;
  margin: 0 auto;
  line-height: 21px;
}

.feature-other p {
  width: 268px;
  white-space: pre-wrap;
}

.feature-2 p {
  width: 309px;
}

.feature-1 .cell-pic {
  width: 800px;
  height: 256px;
  background-image: url("../img/photo-1.jpg");
}

.feature-describe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 400px;
  height: 330px;
  color: #000000;
  z-index: 1;
  background-color: #ffffff;
}

.feature-describe-pic-gift {
  padding-top: 56px;
  padding-bottom: 21px;

}

.feature-describe b {
  padding-top: 0;
  padding-bottom: 23px;
}

.feature-describe-pic {
  padding-top: 60px;
  padding-bottom: 21px;
}

.feature-2 {
  flex-direction: row-reverse;
  padding-top: 330px;
}

.feature-2 .cell-pic {
  width: 800px;
  height: 256px;
  background-image: url("../img/photo-2.jpg");
}

.feature-other {
  background-color: #eeeeee;
  text-align: center;
}

.search {
  width: auto;
  height: 290px;
}

.search b {
  display: block;
  text-align: center;
  padding-top: 49px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-info {
  display: block;
  text-align: center;
  line-height: 24px;
  margin: 24px auto 47px;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 568px;
  height: 86px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  z-index: 2;
}

@keyframes move {
  0% {
    height: 0px;
  }
  100% {
    height: 395px;
  }
}

 @keyframes opacity {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}

.search-form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: 568px;
  height: 395px;
  font-weight: 700;
  background-color: #ffffff;
}

.form-show {
  display: flex;
  animation-name: move, opacity;
  animation-duration: 1.5s, 0.5s;
  animation-timing-function: linear, easy;
}

.form-error {
  animation-name: error;
  animation-duration: 0.3s;
}

@keyframes error {
  0% {
    background-color: red;
  }
  100% {
    background-color: white;
  }
}

.search-arrive,
.search-departure,
.search-adults,
.search-kids {
  margin: 0;
  height: 36px;
}

.search-arrive {
  width: 461px;
  margin-bottom: 31px;
}

.search-departure {
  width: 461px;
  margin-bottom: 31px;
}

.search-adults,
.search-kids {
  display: inline-block;
}

.search-label {
  display: inline-block;
  vertical-align: middle;

  padding-left: 3px;
  padding-top: 3px;
  width: 107px;
  height: 33px;
}

.search-label-kids {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-top: 4px;
  width: 63px;
  height: 33px;
}

.search-arrive input,
.search-departure input {
  border: none;
  background-color: #f2f2f2;
  height: 36px;
  padding-left: 12px;
  width: 334px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-arrive .calendar {
  position: relative;
  top: -31px;
  left: 430px;
  width: 21px;
  height: 22px;
  font-size: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.search-departure .calendar {
  position: relative;
  top: -31px;
  left: 430px;
  width: 21px;
  height: 22px;
  font-size: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.calendar:hover g{
  fill: #000000;
}

.calendar:focus g {
  fill: #bad6e6;
}

.search-adults input,
.search-kids input {
  border: none;
  background-color: #f2f2f2;
  height: 36px;
  width: 61px;
  padding-left: 53px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-adults {
  padding-left: 27px;
}

.search-adults .less {
  position: relative;
  top: -5px;
  left: -103px;
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.less::before{
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.search-adults .more {
  position: relative;
  top: -4px;
  left: -40px;
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.more::before{
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.more::after{
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;
}

.search-kids .less {
  position: relative;
  top: -4px;
  left: -104px;
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.search-kids .more {
  position: relative;
  top: -4px;
  left: -43px;
  width: 11px;
  height: 11px;
  font-size: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 36px;
  margin-bottom: 32px;
  width: 518px;
  padding-right: 0;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-top: 24px;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;
  height: 58px;
  width: 458px;
}

.map {
  line-height: 0px;
}

.map iframe {
  border: none;
}

/*---Футер---*/

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 121px;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  margin-top: -121px;
  line-height: 26px;
  opacity: 0.9;
}

.footer-hashtag,
.social,
.footer-copyright {
  padding: 0;
  margin: 0;
}

.footer-column {
  display: flex;
  justify-content: center;
  width: 400px;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 150px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 196px;
  height: 115px;
}

/*---Каталог---*/

.catalog-page {
  line-height: 21px;
}

.filters {
  width: auto;
  background-color: white;
  min-height: 304px;
  position: relative;
  margin-top: -56px;
}

.filter-bg {
  background: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  min-height: 273px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  z-index: 0;
}

.filter {
  padding-top: 83px;
  margin-left: 72px;
  margin-right: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 230px;
}

.filter legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  min-width: 150px;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter fieldset:last-of-type {
  margin-left: -228px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked ~ label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -40px;
  width: 27px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled ~ label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-dis.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:disabled ~ label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on-dis.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  width: 317px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  padding-top: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 84px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sort {
  width: auto;
  padding-left: 72px;
  padding-right: 73px;
  padding-top: 31px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.sort-result {
  display: inline-block;
  vertical-align: middle;
  width: 143px;
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  margin-right: 17px;
}

.sort span {
  line-height: 18px;
  font-size: 12px;
}

.sort-option {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  padding: 0;
  margin-right: 63px;
}

.sort-option a {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sort-option ul {
  margin: 0;
  padding: 0;
}

.sort-option li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding-left: 30px;
  line-height: 18px;
  font-size: 12px;
}

.sort-option li:first-child {
  padding-left: 35px;
}

.sort-dir {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 245px;
  }

.sort-dir a:first-child {
  padding-right: 5px;
}

.catalog {
  padding-bottom: 121px;
  min-height: 451px;
  line-height: 0px;
}

.hotel-name {
  padding: 0;
  margin: 0;
  line-height: 26px;
  margin-top: -6px;
  margin-bottom: 18px;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: row;
  width: 652px;
}

.column-1 {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  justify-content: space-between;
}

.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
}

.amararesortandspa .catalog-hotels-category {
  background-image:
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
  position: relative;
  background-repeat: no-repeat;
  background-position:
    top -1px right 1px,
    top -1px right 24px,
    top -1px right 49px,
    top -1px right 73px;
  min-width: 240px;
  min-height: 20px;
}

.desertquailinn .catalog-hotels-category {
  background-image:
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
  position: relative;
  background-repeat: no-repeat;
  background-position:
    top -1px right 1px,
    top -1px right 24px,
    top -1px right 49px;
  min-width: 240px;
  min-height: 20px;
}

.villasatpocodiablo .catalog-hotels-category {
  background-image:
    url("../img/star.svg"),
    url("../img/star.svg");
  position: relative;
  background-repeat: no-repeat;
  background-position:
    top -1px right 0,
    top -1px right 24px;
    min-width: 240px;
    min-height: 20px;
}

.catalog-hotels-rank {
  display: inline-block;
  vertical-align: bottom;
  padding-top: 14px;
  margin: 0;
  height: 15px;
  width: 112px;
  text-align: center;
  background-color: #f2f2f2;
}

.catalog-hotels img {
  padding-right: 31px;
}

.catalog-hotels {
  display: flex;
  flex-direction: row;
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
}

.catalog-hotels h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-hotels .about {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  width: 110px;
}

.column a {
  text-align: center;
  height: 24px;
  padding-top: 3px;
}

.catalog-hotels .button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  width: 142px;
  height: 24px;
  padding-top: 3px;
}

.catalog-hotels-category {
  padding: 0;
  margin: 0;
}

/*----Стили styleguide----*/

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}

.site-navigation-current a {
  color: #c1b8b2;
}

.site-navigation-current a:hover {
  color: #c1b8b2;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:focus {
  color: #857871;
  background-color: #503e33;
}

.search-arrive input:hover {
  background-color: #ebebeb;
}

.search-departure input:hover {
  background-color: #ebebeb;
}

.search-adults input:hover {
  background-color: #ebebeb;
}

.search-kids input:hover{
  background-color: #ebebeb;
}

.search-arrive input:focus {
  background-color: #ffffff;
  outline: none;
  outline: 2px solid #e5e5e5;
}

.search-departure input:focus {
  background-color: #ffffff;
  outline: none;
  outline: 2px solid #e5e5e5;
}

.search-adults input:focus {
  background-color: #ffffff;
  outline: none;
  outline: 2px solid #e5e5e5;
}

.search-kids input:focus {
  background-color: #ffffff;
  outline: none;
  outline: 2px solid #e5e5e5;
}

.more:hover::before,
.more:hover::after,
.less:hover::before {
  background-color: #000000;
}

.more:focus::before,
.more:focus::after,
.less:focus::before {
  background-color: #81b3d2;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  color: #7eb0cd;
  background-color: #5496bd;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  background-color: #5496bd;
}

.social-button:focus path {
  fill: #88b6d1;
}

.footer-copyright a:hover path {
  fill: #81b3d2;
}

.footer-copyright a:focus path {
  fill: #bdbbbc;
}

.sort-option-active a {
  color: #81b3d2;
  border: none;
}

.sort-option a:hover {
  color: #81b3d2;
}

.sort-option a:focus {
  color: #000000;
  border: none;
}

.active path  {
  fill: #81b3d2;
}

.sort-dir a:hover path {
  fill: #000000;
}

.sort-dir a:focus path {
  fill: #81b3d2;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:focus {
  color: #b2b2b2;
}

.catalog-hotels .about:hover {
  background-color: #669ec0;
}

.catalog-hotels .about:focus {
  color: #7eb0cd;
  background-color: #5496bd;
}

.catalog-hotels .button:hover {
  background-color: #604e43;
}

.catalog-hotels .button:focus {
  color: #857871;
  background-color: #503e33;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
