body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

/*.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

.catalog-page {
  line-height: 21px;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}

.site-navigation-current a {
  color: #c1b8b2;
}

.site-navigation-current a:hover {
  color: #c1b8b2;
}

.container {
  background-color: #ffffff;
}

.greeting {
  background-image: url("../img/greeting-bg.jpg");
  background-repeat: no-repeat;
}

.features b {
  font-size: 21px;
  font-weight: 700;
}

.search b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-button {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:focus {
  color: #857871;
  background-color: #503e33;
}

.search-form {
  font-weight: 700;
}

.search-arrive input,
.search-departure input,
.search-adults input,
.search-kids input {
  border: none;
  background-color: #f2f2f2;
}

.search-arrive input:hover {
  background-color: #ebebeb;
}

.search-departure input:hover {
  background-color: #ebebeb;
}

.search-adults input:hover {
  background-color: #ebebeb;
}

.search-kids input:focus{
  background-color: #ebebeb;
}

.search-arrive input:focus {
  background-color: #ffffff;
}

.search-departure input:focus {
  background-color: #ffffff;
}

.search-adults input:focus {
  background-color: #ffffff;
}

.search-kids input:focus {
  background-color: #ffffff;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  color: #7eb0cd;
  background-color: #5496bd;
}

.main-footer {
  line-height: 26px;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.social {
  list-style: none;
}

.catalog-hotels {
  list-style: none;
}

.catalog-hotels h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:focus {
  color: #b2b2b2;
}

.catalog-hotels .about {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.catalog-hotels .about:hover {
  background-color: #669ec0;
}

.catalog-hotels .about:focus {
  color: #7eb0cd;
  background-color: #5496bd;
}

.catalog-hotels .button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.catalog-hotels .button:hover {
  background-color: #604e43;
}

.catalog-hotels .button:focus {
  color: #857871;
  background-color: #503e33;
}

.catalog-hotels-rank {
  background-color: #f2f2f2;
}

/*----Стили для сетки----*/

html,
body {
  min-width: 1200px;
  min-height: 2762px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  height: 56px;
}

.site-navigation {
  display: flex;
  padding-left: 73px;
  padding-right: 73px;
  margin: 0;
  padding-top: 12px;
}

.site-navigation li {
  width: 240px;
}

.left-row {
text-align: left;
}

.right-row-map {
  text-align: right;
  margin-left: 96px;
}

.right-row {
text-align: right;
}

.main-navigation-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 142px;
  height: 71px;
}

.greeting {
  height: 509px;
  margin-bottom: 59px;
}

.intro-features,
.intro-search {
  margin: 0 auto;
  text-align: center;
}

.search-button {
  display: block;
  width: 574px;
  text-align: center;
  margin: 0 auto;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 574px;
}

.quantity {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.footer-hashtag,
.social,
.footer-copyright {
  padding: 0;
  margin: 0;
}

.footer-column {
  display: flex;
  justify-content: center;
  width: 400px;
}

.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.hotel-name {
  padding: 0;
  margin: 0;
}

.catalog-hotels img {
  padding-right: 31px;
}

.catalog-hotels {
  display: flex;
  flex-direction: row;
  padding: 31px 73px;
  border-bottom: 1px solid #e5e5e5;
}

.column {
  display: flex;
  flex-direction: row;
  width: 652px;
}

.column-1 {
  display: flex;
  flex-direction: column;
  padding-right: 7px;
}

.column-2 {
  display: flex;
  flex-direction: column;
}

.column-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 241px;
}

.catalog-hotels-category {
  padding: 0;
  margin: 0;
}
